* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /* background-color: #29292E; */
}

#container {
    background-color: #F5F4F0;
    padding: 80px;
}

.headline {
    color: #E1624F;
}

.picture {
    width: 1120px;
}